deleteconfig.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="deleteMessageFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/project/{ticketID}/message/{messageID}" doc:name="HTTP"/>
        <db:delete config-ref="Generic_Database_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[delete from Message where ID = #[message.inboundProperties.'http.uri.params'.get("messageID")]]]></db:parameterized-query>
        </db:delete>
        <set-payload value="{
	&quot;status code&quot;:200
}" doc:name="Set Payload"/>
    </flow>
    <flow name="deleteTicketFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/project/{ticketID}" allowedMethods="DELETE" doc:name="HTTP"/>
        <db:delete config-ref="Generic_Database_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[delete from Ticket where ID = #[message.inboundProperties.'http.uri.params'.get("ticketID")]]]></db:parameterized-query>
        </db:delete>
        <set-payload value="Record #[message.inboundProperties.'http.uri.params'.get(&quot;ticketID&quot;)] Deleted" doc:name="Set Payload"/>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
</mule>
