updateconfig.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <flow name="updateconfigFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/project/{ticketID}" allowedMethods="PATCH" doc:name="HTTP"/>
        <json:json-to-object-transformer doc:name="JSON to Object"/>
        <custom-processor doc:name="updateTicketProcessor" class="project.updateTickeInClass" name="updateTicketProcessor"/>
        <db:update config-ref="Generic_Database_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[update Ticket
set group_id = #[message.payload.group_id]
where id = #[message.inboundProperties.'http.uri.params'.get("ticketID")]]]></db:parameterized-query>
        </db:update>
        <logger message="Update flow" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
